<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>
    <title>Blog Change</title>
</head>
<body>
<h1>Blog Change</h1>
<h3>Links:</h3>

<button onclick="document.location='/blog/show'">List blogs</button><br><br>
<button onclick="document.location='/category/new'">New category</button><br><br>

<p>Blog post User: {{ blog.fname|e }} {{ blog.lname|e }}</p>

<form method="POST" action="/blog/change/{{ blogId }}">

    <label for="title" >Title:</label>
    <input type="text" maxlength="255" id="title" name="title" value="{{ blog.title|e }}" required><br><br>


    <label for="category">Category:</label>
    <select name="category" id="category" required>
        <optgroup label="Old Category">
            <option value={{ blog.category.id|e }}>{{ blog.category.name|e }}</option>
        </optgroup>
        <optgroup label="New Category">
            {% for value in categories %}
                <option value={{ value.id|e }}>{{ value.name|e }}</option>
            {% endfor %}
        </optgroup>
    </select>
    <br><br>

    <p>Blog Post:</p>
    <label for="text"></label>
    <textarea name="text" rows="10" cols="30" id="text" maxlength="255" required>{{ blog.text|e }}</textarea>
    <br><br>

    <label for="privat">privat:</label>
    <input type="checkbox" id="privat" name="privat" {% if blog.privat|e == true %}checked{% endif %}><br><br>


    <input type="submit" value="Submit">
    <p>{% if changed %}Blog changed!{% endif %}</p>
</form>

</body>
